body {
    background: #333;
    color: #fff;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

h2, section > p {
  text-align: center;
}
h2 {
  padding-top: 15%;
}

img {
  display: block;
  margin: auto;
}

#cougar {background: #FFBD82; /* peach */}
#lion {background: #FFD5AE; /* pale peach */}
#tiger {background: #B26219; /* cinnamon */}

article {
  color: #fff;
  width: 30%;
  float: right;
  padding: 20px 40px;
  box-sizing: border-box;
  margin: 50px auto;
  clear: both;
  margin-top: -55%;
  margin-right: 5%;
  overflow: auto;
}

 #cougar div {
  float:left;
  width: 45%;
  padding: 20px;
  margin:0 2% 1em;
  box-sizing: border-box;
  clear: both;
  overflow: auto;
}

#lion div {
 float:left;
 width: 45%;
 padding: 20px;
 margin:0 2% 1em;
 box-sizing: border-box;
 clear: both;
 overflow: auto;
}

#tiger div {
 float:left;
 width: 45%;
 padding: 20px;
 margin:0 2% 1em;
 box-sizing: border-box;
 clear: both;
 overflow: auto;
}

header {
  background: #333;
  width: 100%;
  float:left;
  margin-bottom: 20px;
  position: fixed;
  top: 0px;
}

footer {
  text-align: center;
  width: 600px;
  padding: 1px 1px;
  margin: 50px auto;
  overflow: auto;
  float:none;
  clear: both;
}
/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue

   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

/* nav styles */
nav {
  float: right;
  margin-top: -25px;
}
nav ul {
  list-style: none;
  margin-top: 0;
}
nav li {
  float: left;
  padding: 20px 30px;
  margin-left: 20px;
  margin-top: -65px;
}
